.home-container {
  position: relative;
  padding-top: 80px;
  padding-left: 220px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: var(--secondary-color);
  color: var(--home-text--color);
}

.profile-container {
  display: flex;
  justify-content: flex-start;
}
.profile-container img {
  display: flex;
  align-self: flex-start;
  width: 50px;
  height: 50px;
  margin: 0;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.profile-container p {
  display: flex;
  align-self: flex-end;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 26px;
  margin-top: 10px;
  line-height: 33px;
  margin-bottom: 10px;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 16px;
  row-gap: 30px;
}

.home-container h2 {
  margin: 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  margin-top: 48px;
}

.channel-container {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.channel-img {
  display: flex;
  align-items: flex-start;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 15px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.channel-name {
  display: flex;
  align-items: flex-end;
  margin-left: 60px;
  margin-bottom: 5px;
}

.channel-info {
  margin: 0;
  margin-left: 20px;
  margin-top: 54px;
  margin-bottom: 10px;
  color: var(--home--video--sign-color);
  font-size: 16px;
  line-height: 20px;
}
