header {
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.headerDiv {
  margin: 0;
  padding: 8px 16px;
  background-color: var(--secondary-color);
  font-family: "Roboto";
  font-weight: 400;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-main);
}

.headerDiv div {
  display: flex;
  align-items: center;
}

.headerDiv div:nth-child(1) img {
  cursor: pointer;
  padding: 0 16px;
  height: 22px;
}

.hamburger {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
}

.hamburger div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger:hover {
  background-color: var(--secondary-light-color);
}

.hamburger div span {
  width: 17.5px;
  height: 1px;
  background-color: var(--text-main);
}

.hamburger div span:nth-child(2) {
  margin: 5px 0;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  position: relative;
  min-width: 650px;
  margin-left: 30px;
  margin-right: 700px;
}

#searchQueryInput {
  width: 100%;
  height: 2.1rem;
  background: var(--search-query-input);
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 0.8rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.searchIcon {
  width: 22px;
  height: 22px;
}

.headerDiv div:nth-child(3) img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 32px;
  margin-left: 12px;
}

.notifications-count {
  position: absolute;
  font-weight: 700;
  font-family: "Mulish";
  top: 8px;
  width: 8px;
  height: 8px;
  background-color: var(--notifications-count);
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 50%;
  margin-left: 11px;
}

.profileDiv span {
  margin-right: 28px;
  cursor: pointer;
  padding-top: 10px;
}
