.sidebar-tabs {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 30px 12px 0 12px;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  width: 220px;
  height: calc(100vh - 38px);
  font-family: "Roboto";
  color: var(--text-main);
  background-color: var(--secondary-color);
  overflow: auto;
  margin-top: 38px;
  z-index: 8;
}

.sidebar-container {
  overflow: auto;
}

.sidebar-tabs::-webkit-scrollbar {
  width: 8px;
}

.sidebar-tabs::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

.sidebar-tabs::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--main-secondary-light);
}

.main-tab-container {
  width: 100%;
  margin-bottom: 20px;
}

.sidebar-tab {
  display: flex;
  justify-content: flex-start;
  padding: 3px 6px 3px 5px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: var(--sidebar-text-color);
}

.sidebar-tab:hover > .material-symbols-rounded {
  color: var(--notifications-count);
}

.sidebar-tab:hover > .sidebar-text {
  color: var(--notifications-count);
}

.material-symbols-rounded {
  font-weight: 300;
  height: 30px;
  width: 30px;
  font-size: 24px;
}

.sidebar-tab p {
  font-size: 16px;
  margin: 0;
}

.external-tab-container {
  width: 100%;
}

.subscription-tab-container {
  width: 100%;
}

.subscription-head {
  margin: 20px 0 12px 8px;
  font-weight: 700;
  font-family: "Mulish";
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.channel-tab {
  display: flexbox;
  justify-content: flex-start;
  padding: 3px 6px 4px 5px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: var(--sidebar-text-color);
}

.channel-tab img {
  display: flex;
  align-items: flex-start;
  margin: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 6px;
}

.channel-tab p {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: -6px;
  color: var(--sidebar-text-color);
  font-size: 16px;
  line-height: 20px;
}

.channel-tab p:hover {
  color: var(--notifications-count);
}

.sidebar-container.close {
  display: none;
}

.settings-tab-container {
  display: flex;
  justify-content: flex-start;
  padding: 3px 6px 3px 5px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  color: var(--profile-symbols);
  font-size: 16px;
  font-style: normal;
}

.settings-tab-container.material-symbols-rounded {
  display: flex;
  font-size: 26px;
}

.settings-tab-container:hover > .sidebar-text {
  color: var(--notifications-count);
}

.settings-tab-container:hover > .material-symbols-rounded {
  color: var(--notifications-count);
}
